[submodule "third_party/Isaac-GR00T"]
	path = third_party/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "third_party/Being-H"]
	path = third_party/Being-H
	url = https://github.com/BeingBeyond/Being-H.git
